{% extends "base.html" %}
{% block title %}Dinnertime Founders {% endblock %}
{% block main %}
	<h1>Founders</h1>
	<table>
		<tr>
			<th>Name</th>
			<th>City</th>
			<th>Favorite Animal</th>
		</tr>
		<tr>
			<td>Anna</td>
			<td>Cambridge</td>
			<td>Fox</td>
		</tr>
		<tr>
			<td>Sam</td>
			<td>Cambridge</td>
			<td>Naked Mole Rat</td>
		</tr>
		<tr>
			<td>Becky</td>
			<td>Boston</td>
			<td>Manatee</td>
		</tr>
		<tr>
			<td>Dan</td>
			<td>Boston</td>
			<td>Cheetah</td>
		</tr>
	</table>
{% endblock %}